apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gitops-demo-prod

namePrefix: prod-

bases:
  - ../../base

commonLabels:
  environment: prod

images:
  - name: ghcr.io/nguyendang52/gitops-demo-app
    newTag: latest

patches:
  - target:
      kind: Deployment
      name: gitops-demo-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m

resources:
  - namespace.yaml
