apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-demo-app-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/nguyendang52/git-ops-config.git  # Update with your Git repo URL
    targetRevision: main  # or master, depending on your default branch
    path: k8s/overlays/prod
  
  destination:
    server: https://kubernetes.default.svc
    namespace: gitops-demo-prod
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
