apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: gitops-demo-dev

namePrefix: dev-

bases:
  - ../../base

commonLabels:
  environment: dev

patches:
  - target:
      kind: Deployment
      name: gitops-demo-app
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/env/1/value
        value: development

resources:
  - namespace.yaml
